In [1]:
import pandas, sqlalchemy

In [2]:
file = pandas.read_excel('/home/hrobbin/python/mysql_scripts/JivoChat Report 21-09-02 61305d4165b6d.xlsx', sheet_name=0)

In [44]:
collist = ['x' + str(x) for x in range(13)]
file.columns = collist
file

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12
0,С 01.09.2021 по 01.09.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Сводный отчет по сайтам,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Илья(ilya.kolesnikov@michelin.com),0,0,0,0,0,0,00:00:00,00:00:00,0,00:00:00,0,0
171,Марина(michelinrussia2012@gmail.com),0,0,0,0,0,0,00:00:00,00:00:00,0,00:00:00,0,0
172,Николай(uvn@ru.bosch.com),0,0,0,0,0,0,00:00:00,00:00:00,0,00:00:00,0,0
173,Юлия(yulia.nikolenko@michelin.com),0,0,0,0,0,0,00:00:00,00:00:00,0,00:00:00,0,0
174,ИТОГО,0,0,0,0,0,0,11:52:05,00:31:28,0,00:00:00,0,0

In [34]:
file2 = pandas.DataFrame(file.iloc[4:17])
file2

,Отчеты JivoSite,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
4,Сводный отчет по сайтам,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Сайт,Количество принятых диалогов,Количество принятых звонков,Количество непринятых диалогов,Количество непринятых звонков,Количество принятых диалогов без ответа оператора,Количество offline сообщений,NaN,NaN,NaN,NaN,NaN,NaN
7,tyreplus.ru,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,[Yandex] tyreplus.ru,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,michelin.ru,10,0,1,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
10,VK [Мишлен],0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
11,BFGoodrich.ru,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,[Yandex] BFGoodrich,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13,Мишлен,1,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
14,savefuel.michelin.ru,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,b2b experience,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,ИТОГО,12,0,1,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN